/*********************************************************/
/* Custom CSS */
/*********************************************************/

body {
	font-size: 1.5em;
	height: 100%;
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
}

.container {
	/*float: left;*/
	width: 50%;
	margin: auto;

}

#BucketCtrl, #loading {
	margin: auto;
	width: 50%;
	padding-top: 20px;
	padding-right: 50px;
	font-size: 1.3em;
	font-weight: bold;
	color: #3498db;
	text-align: center;
}
